        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: 'Noto Sans', sans-serif;
        }
        
        p {
            font-family: 'Quicksand', sans-serif;
        }
        /* banner design*/
        /* Navigation Bar */
        
        .navbar {
            background-color: #89c9b8;
            font-size: 1.5rem;
        }
        
        .navbar-brand {
            font-size: 2.5rem;
            font-weight: bolder;
        }
        
        #banner {
            height: 100vh;
            background-color: #89c9b8;
            color: white;
            padding: 200px;
            margin: 0 auto;
            text-align: center;
            position: relative;
        }
        
        #banner h1,
        #banner h3 {
            padding: 0 20px;
            border-radius: 8px;
            font-size: 24px;
            font-weight: bolder;
        }
        
        .maple-leaf {
            position: absolute;
            top: 50px;
            left: 30px;
            border-radius: 30%;
            transform: rotate(-28deg);
        }
        
        .maple-leaves {
            position: absolute;
            right: 30px;
            bottom: 50px;
            border-radius: 30%;
            transform: rotate(155deg);
        }
        /* navigation style*/
        
        #logo-img img {
            height: 70px;
            border-radius: 40px;
        }
        /* feature Section */
        
        #feature {
            padding: 7% 15%;
            text-align: center;
        }
        
        .icon {
            padding-top: 5%;
            width: 45px;
        }
        /* Section details */
        
        #details .card {
            background-color: #89c9b8;
            color: #fff;
        }
        
        .card:hover {
            box-shadow: 5px aliceblue;
        }
        
        .card-img-top {
            width: 400px;
            text-align: center;
            margin: 10px auto;
        }
        
        .card-title,
        .card-text {
            text-align: center;
        }
        /* footer */
        
        footer {
            text-align: center;
            font-family: 'Source Code Pro', monospace;
        }